@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Zain:wght@200;300;400;700;800;900&display=swap');
*{
    margin: 0%;
    scroll-behavior: smooth;
    box-sizing:border-box
}
a{
    text-decoration: none;
    color: #fff;
    transition:0.3s; 
}
body{
    background: #70e1f5;
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);
    background: linear-gradient(to right, #ffd194, #70e1f5);
    font-size: 16px;
    line-height: 24px;
    font-family: "Zain", sans-serif;
}
.header-area{
    padding: 25px 0px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 47;
    transition: padding .3s;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar{
    list-style:none;
    display: flex;
    font-weight: 500;
    font-size: 22px;

}
.nav-bar:first-child{
    margin-right: auto;
}
.nav-bar li{
    margin: 0 15px;
    color: #fff;
}
.nav-bar li a:active{
    color:#70e1f5;
}
.nav-bar li a:hover{
    color:#70e1f5;
}
.Name{
    align-items: center;
    font-size: 37px;
    position: relative;
    margin-left: 2%;
    color: white;
    font-family: "Caveat", cursive;
    cursor: pointer;
}
.menu-bar{
    color:#fff;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
.Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-left: 5;
}
.Profile{
    width: 300px;
    height:  300px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid #444444;
    box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    margin-left: 6%;
    margin-top: 5%;
}
.Profile img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}
.profile-text{
    max-width: 750px;
    display: flex;
    flex-direction: column;
    margin-top: 4%;
  }
  .profile-text h5{
    color: black;
    font-size: 24px;
  }
  .profile-text h1{
    color: white;
    font-size: 3rem; 
  }
  .profile-text p{
    margin-right: 4%;
    font-size: 30px;
    text-align:justify;
  }
  .profile-text .social i{
    color :black;
    font-size: 25px;
    margin-right: 15px;
    transition: 0.5s;
  }
  .profile-text .social i:hover{
    color:#e5e5e5;
    transform: rotate(360deg);
  }
 .btn-group{
    margin:5% 0;
  }
.btn-group .btn{
    color: #e5e5e5;
    background-color: black;
    padding: 12px  25px;
    font-size: 22px;
    border-radius: 20px;
  }
  .active{
    margin-right: 0.5rem;
  }
  .Education{
    padding-top: 13rem;
  }
  .edu-header{
    text-align: center;
    font-size: 43px;
  }
  .edu-timeline-wrap{
    position: relative;
    margin-top:4.0rem;
    margin-bottom: 6rem;
  }
  .timeline-block{
    position: relative;
	padding-top: 1.5rem;
    padding-bottom: 40px;
  }
  .timeline-ico{
    height: 3.8rem;
	width: 3.8rem;
	line-height: 3.8rem;
	background: black;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 35%;
	top: .9rem;
	margin-left: 9.6rem;
  }
  .timeline-ico i{
    position: relative;
	left: .05rem;
	top: .2rem;
  }
  .timeline-header{
    float: left;
    font-size: 1.6REM;
	width: 35%;
    margin-left: 90px;
	text-align: right;
  }
  .timeline-header p{
    font-size: 1.6rem;
  }
.timeline-content {
	margin-left: 50%;
	padding-left: 60px;
}
.timeline-content p{
    margin-top: 1%;
    font-size:20px;
}
.timeline-content h4 {
	position: relative;
	padding-bottom: 1.8rem;
    font-size: 30px;
}
.timeline-content h4::after {
	content: "";
	display: block;
	height: 3px;
	width: 50px;
	background: rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0;
	bottom: 0;
}
.container{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 100px;
}
.title{
  display:flex;
  flex-direction: column;
  text-align: center;
}
.title h1{
  font-size: 57px;
}
.title .subtitle{
  font-size: 30px;
  margin-top: 15px;
}
.row  {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;

}
.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: white;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: black;
  font-size: 1em;
}

.contact-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  border-radius: 25px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-box input,
.contact-form .input-box textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contact-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box textarea:focus ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"]
{
  width: 100%;
  background: #00bcd4;
  color: #FFF;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #00bcd4;
  transition: 0.5s;
}

.contact-form .input-box input[type="submit"]:hover
{
  background: #FFF;
  color: #00bcd4;
}
.footer {
  max-width: 100vw;
  margin: 0 auto;
  padding-top: 8px;
  background-color:black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .message {
  font-size: 15px;
  margin-bottom: 4px;
  color: rgba(255, 255, 255, 0.4);
}

.copyright {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.4);
}
.Skills{
  display: block;
  width: 100%;
}

.Skills .container-skill{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: moveUp 1s ease-in-out;
  position: relative; /* Ensure the div can be moved */
  
}

.Skills .container-skill .heading{
  font-size: 42px;
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
  color: rgb(242, 243, 244);
}
.Skills{
  margin-top: 5%;
}
#skill{
  padding-top: 12rem;
  padding-bottom: 13rem;
}
.Skills .container-skill .heading h1{
  padding: 0%;
  margin: 0%;
}

.Skills .container-skill .Text{
  font-size: 18px;
  text-align: center;
  max-width: 500px;
  color: rgb(177, 178, 179);
}

.Skills .container-skill .mainSkill{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 30px;
  justify-content: center;
}
.Skills .container-skill .mainSkill .front , .back , .datasci, .tools{
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  padding: 18px 36px;
}

.Skills .container-skill .mainSkill .front h2, .back h2, .datasci h2, .tools h2{
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0%;
  padding: 0%;
  font-size: 24px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  text-align: center;
}

.Skills .container-skill .mainSkill .box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-bottom: 20px;
}

.Skills .container-skill .mainSkill .front .frontSkill, .back .backSkill, .datasci .datasciSkill, .tools .toolsSkill{
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  border: 1px solid black;
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s ease;
  font-size: 20px;
  color: black;
}

.Skills .container-skill .mainSkill .front .box img{
  width: 30px;
  height: 30px;
}

.Skills .container-skill .mainSkill .back .box img{
  width: 30px;
  height: 30px;
}

.Skills .container-skill .mainSkill .datasci .box img{
  width: 30px;
  height: 30px;
}

.Skills .container-skill .mainSkill .tools .box img{
  width: 30px;
  height: 30px;
}
.projects{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 12rem;
}
.project-container {
  margin-top: 5rem;
  display: grid;
  grid-row: auto; 
  row-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
}
.project p{
  margin-left: 0.5rem;
}
.project{
  height: 35rem;
  width: 22rem;
  overflow:hidden;
  margin-left: 12%;
}
.project-action {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.project img {
  height: 20rem;
  width:100%;
  border-radius: 25px ;
}

.project h4 {
  margin-top: 20px;
  font-size: 25px;
  margin-left: 0.5rem;
}
.project-action {
  border-radius: 20px;
}
@media (max-width:570px) {
  .project-container {
    margin-top: 5rem;
    display: grid;
    grid-row: auto; 
    row-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
  .project{
    height: 40rem;
    width: 15rem;
    overflow:hidden;
    margin-left: 12%;
  }
  .project img {
    height: 15rem;
    width:100%;
    border-radius: 25px ;
  }
  .edu-header{
    font-size: 37px;
  }
  .title h1{
    font-size: 47px;
  }
  .title .subtitle{
    font-size: 25px;
    margin-top: 15px;
  }
  .Home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-left: 5px;
}
.profile-text{
  margin-left: 5%;
}
  .edu-timeline-wrap{
    position: relative;
    margin-top:4.0rem;
    margin-bottom: 6rem;
  }
  .timeline-ico{
    height: 2.8rem;
	width: 2.8rem;
	line-height: 2.8rem;
	background: black;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 10%;
	top: .9rem;
	margin-left: 9.6rem;
  }
  .timeline-header{
    float: left;
    font-size: 1.6REM;
	width: 24%;
    margin-left: 50px;
	text-align: right;
  }
  .timeline-content h4{
    font-size: 27px;
  }
.Profile{
    width: 290px;
    height:  290px;
}
.profile-text{
    max-width: 550px;
  }
  .profile-text h5{
    font-size: 22px;
  }
  .profile-text h1{
    font-size: 2.5rem; 
  }
  .profile-text p{
    font-size: 23px;
  }
.project-container {
    margin-top: 5rem;
    display: grid;
    grid-row: auto; 
    grid-template-columns: 1fr;
  }

  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }
  
  .contact-form {
    width: 100%;
  }
}
@media (min-width:570px) and (max-width:912px) {
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 12rem;
  }
  .project-container {
    margin-top: 5rem;
    display: grid;
    grid-row: auto; 
    row-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
  .project{
    height: 40rem;
    width: 15rem;
    overflow:hidden;
    margin-left: 12%;
  }
  
  .project img {
    height: 15rem;
    width:100%;
    border-radius: 25px ;
  }
  .edu-header{
    font-size: 37px;
  }
  .title h1{
    font-size: 47px;
  }
  .title .subtitle{
    font-size: 25px;
    margin-top: 15px;
  }
  .Home{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 5rem;
    padding-left: 5px;
}
.profile-text{
  margin-left: 5%;
}
  .edu-timeline-wrap{
    position: relative;
    margin-top:4.0rem;
    margin-bottom: 6rem;
  }
  .timeline-ico{
    height: 3.8rem;
	width: 3.8rem;
	line-height: 3.8rem;
	background: black;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 15%;
	top: .9rem;
	margin-left: 9.6rem;
  }
  .timeline-header{
    float: left;
    font-size: 1.6REM;
	width: 24%;
    margin-left: 50px;
	text-align: right;
  }
  .timeline-content h4{
    font-size: 27px;
  }
.Profile{
    width: 290px;
    height:  290px;
}
.profile-text{
    max-width: 550px;
  }
  .profile-text h5{
    font-size: 22px;
  }
  .profile-text h1{
    font-size: 2.5rem; 
  }
  .profile-text p{
    font-size: 23px;
  }
.project-container {
    margin-top: 5rem;
    display: grid;
    grid-row: auto; 
    grid-template-columns: 1fr 1fr ;
  }

  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 70%;
  }
  
  .contact-form {
    width: 70%;
  }
}
@media (min-width: 912px) and (max-width: 1200px){
  .edu-timeline-wrap{
    position: relative;
    margin-top:4.0rem;
    margin-bottom: 6rem;
  }
  .timeline-ico{
    height: 3.8rem;
	width: 3.8rem;
	line-height: 3.8rem;
	background: black;
	border-radius: 50%;
	text-align: center;
	color: #FFFFFF;
	position: absolute;
	left: 28%;
	top: .9rem;
	margin-left: 9.6rem;
  }
  .timeline-header{
    float: left;
    font-size: 1.6REM;
	width: 32%;
    margin-left: 50px;
	text-align: right;
  }
  .project-container {
    margin-top: 5rem;
    display: grid;
    grid-row: auto; 
    row-gap: 5%;
    grid-template-columns: 1fr 1fr;
  }
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .row {
    flex-direction: column;
  }
  
  .contact-info {
    margin-bottom: 40px;
    width: 50%;
  }
  
  .contact-form {
    width: 50%;
  }

}